body{
     font-family: sans-serif ;
     background:radial-gradient(#ffffff,#ffd6d6);
     overflow: hidden;
     background-size: cover;
}

.container{
            width: 380px ;
            margin: auto;
            border-radius: 25px ;
            background-color: rgba(134, 75, 75, 0.2);

}

.header{
        text-align: center;
        padding-top: 75px;

}

.header h1 {
            color: #333;
            font-size: 45px;
            margin-bottom: 80px;


}

.main{
        text-align: center;

}

.main input,button {
                 width: 300px;
                    height: 40px;
                    border: none;
                    outline: none;
                    padding-left: 40px;
                    box-sizing: border-box;
                    font-size: 15px;
                    color: #333;
                    margin-bottom: 40px;

}

.main button{
            padding-left: 0;
            background-color: #dfb6b6 ;
            letter-spacing: 1px;
            font-weight:bold;
            box-shadow: 2px 2px 5px #555;

}

    .main button:hover{
                    box-shadow: 2px 2px 5px #555;
                    background-color: #eb9f9f;
    }   

    
    .main input{
        box-shadow: 2px 2px 5px #555;
        background-color: #f0c2c2;
        color: black;
    }
    
        

    main span{
        position: relative;
    }




    main{
        position: absolute;
        left: 15px;
        color: #333;
        font-size: 16px;
        top: 2px;

    }
    .pp img{
        width: 100px;
        height: 100px;
        display: flex;
        justify-content: center;
        margin-left:20px;
        margin-top: 20px;
    }
    /* .user{
        border: 10px solid #888;
        
    }
    .pass{
        background-color: white;
    }
    .user input{
        border: none;
    }
    .pass input{
        border: none;
    } */




















